<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.nhs.nhsx.covid19.android.app">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".ExposureApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:targetApi="n">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".onboarding.WelcomeActivity" />
        <activity android:name=".edgecases.AgeRestrictionActivity" />
        <activity
            android:name=".onboarding.postcode.PostCodeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".onboarding.PermissionActivity" />
        <activity android:name=".status.StatusActivity" />
        <activity android:name=".edgecases.DeviceNotSupportedActivity" />
        <activity android:name=".common.EnableBluetoothActivity" />
        <activity android:name=".common.EnableLocationActivity" />
        <activity android:name=".common.EnableExposureNotificationsActivity" />
        <activity android:name=".qrcode.QrScannerActivity" />
        <activity android:name=".qrcode.QrCodeScanResultActivity" />
        <activity android:name=".questionnaire.selection.QuestionnaireActivity" />
        <activity android:name=".questionnaire.review.NoSymptomsActivity" />
        <activity android:name=".questionnaire.review.ReviewSymptomsActivity" />
        <activity android:name=".testordering.TestOrderingActivity" />
        <activity android:name=".questionnaire.review.SymptomsAdviceIsolateActivity" />
        <activity android:name=".state.IsolationExpirationActivity" />
        <activity android:name=".onboarding.DataAndPrivacyActivity" />
        <activity android:name=".about.MoreAboutAppActivity" />
        <activity android:name=".testordering.TestResultActivity" />
        <activity android:name=".testordering.SubmitKeysProgressActivity" />
        <activity android:name=".exposure.encounter.EncounterDetectionActivity" />
        <activity android:name=".qrcode.QrCodeHelpActivity" />
        <activity android:name=".about.UserDataActivity" />
        <activity android:name=".about.EditPostalDistrictActivity" />
        <activity android:name=".testordering.TestOrderingProgressActivity" />
        <activity android:name=".availability.AppAvailabilityActivity" />
        <activity android:name=".qrcode.riskyvenues.VenueAlertActivity" />
        <activity android:name=".status.RiskLevelActivity" />
        <activity android:name=".edgecases.TabletNotSupportedActivity" />
        <activity android:name=".exposure.ShareKeysInformationActivity" />
        <activity android:name=".testordering.linktestresult.LinkTestResultActivity" />
        <activity android:name=".payment.IsolationPaymentActivity" />
        <activity android:name=".availability.UpdateRecommendedActivity" />
        <activity android:name=".onboarding.PolicyUpdateActivity" />
        <activity android:name=".common.postcode.LocalAuthorityActivity" />
        <activity android:name=".common.postcode.LocalAuthorityInformationActivity" />
        <activity android:name=".battery.BatteryOptimizationActivity" />
        <activity android:name=".payment.RedirectToIsolationPaymentWebsiteActivity" />

        <!-- Receivers -->
        <receiver
            android:name=".exposure.encounter.ExposureNotificationBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK">
            <intent-filter>
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATED" />
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_NOT_FOUND" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ExpirationCheckReceiver" />
        <receiver android:name=".receiver.ExposureNotificationReminderReceiver" />
        <receiver android:name=".analytics.AnalyticsAggregatorReceiver" />
        <receiver android:name=".receiver.AlarmRestarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
