<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.nhs.nhsx.covid19.android.app">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".ExposureApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:targetApi="n">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".onboarding.WelcomeActivity"
            android:label="@string/onboarding_welcome_title"/>
        <activity android:name=".edgecases.AgeRestrictionActivity"
            android:label="@string/onboarding_age_restriction_title"/>
        <activity
            android:name=".onboarding.postcode.PostCodeActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/post_code_title"/>
        <activity android:name=".onboarding.PermissionActivity"
            android:label="@string/permission_title"/>
        <activity android:name=".status.StatusActivity"
            android:label="@string/app_name"/>
        <activity android:name=".edgecases.DeviceNotSupportedActivity"
            android:label="@string/cant_run_app"/>
        <activity android:name=".common.EnableBluetoothActivity"
            android:label="@string/enable_bluetooth_title"/>
        <activity android:name=".common.EnableLocationActivity"
            android:label="@string/enable_location_service_title"/>
        <activity android:name=".common.EnableExposureNotificationsActivity"
            android:label="@string/enable_exposure_notifications_title"/>
        <activity android:name=".qrcode.QrScannerActivity"
            android:label="@string/scan_qr_code_to_check_in"/>
        <activity android:name=".qrcode.QrCodeScanResultActivity"/>
        <activity android:name=".questionnaire.selection.QuestionnaireActivity"
            android:label="@string/select_symptoms"/>
        <activity android:name=".questionnaire.review.NoSymptomsActivity"
            android:label="@string/title_no_coronavirus_symptoms"/>
        <activity android:name=".questionnaire.review.ReviewSymptomsActivity"
            android:label="@string/questionnaire_review_symptoms"/>
        <activity android:name=".testordering.TestOrderingActivity"
            android:label="@string/book_free_test"/>
        <activity android:name=".questionnaire.review.SymptomsAdviceIsolateActivity" />
        <activity android:name=".state.IsolationExpirationActivity"
            android:label="@string/expiration_notification_title"/>
        <activity android:name=".onboarding.DataAndPrivacyActivity"
            android:label="@string/onboarding_privacy_title"/>
        <activity android:name=".about.MoreAboutAppActivity"
            android:label="@string/about_this_app_title"/>
        <activity android:name=".testordering.TestResultActivity"/>
        <activity android:name=".testordering.SubmitKeysProgressActivity"
            android:label="@string/loading"/>
        <activity android:name=".exposure.encounter.EncounterDetectionActivity"/>
        <activity android:name=".qrcode.QrCodeHelpActivity"
            android:label="@string/venue_check_in_title"/>
        <activity android:name=".about.UserDataActivity"
            android:label="@string/about_manage_my_data" />
        <activity android:name=".about.EditPostalDistrictActivity"
            android:label="@string/edit_postcode_district_title"/>
        <activity android:name=".testordering.TestOrderingProgressActivity"
            android:label="@string/loading"/>
        <activity android:name=".availability.AppAvailabilityActivity" />
        <activity android:name=".qrcode.riskyvenues.VenueAlertActivity"
            android:label="@string/venue_alert_title"/>
        <activity android:name=".status.RiskLevelActivity"
            android:label="@string/risk_level_title"/>
        <activity android:name=".edgecases.TabletNotSupportedActivity"
            android:label="@string/tablet_support_title"/>
        <activity android:name=".exposure.ShareKeysInformationActivity"
            android:label="@string/submit_keys_information_title"/>
        <activity android:name=".testordering.linktestresult.LinkTestResultActivity"
            android:label="@string/status_option_link_test_result"/>
        <activity android:name=".payment.IsolationPaymentActivity"
            android:label="@string/isolation_payment_heading"/>
        <activity android:name=".availability.UpdateRecommendedActivity"
            android:label=""/>
        <activity android:name=".onboarding.PolicyUpdateActivity"
            android:label="@string/updated_privacy_title"/>
        <activity android:name=".common.postcode.LocalAuthorityActivity"
            android:label="@string/local_authority_title"/>
        <activity android:name=".common.postcode.LocalAuthorityInformationActivity"
            android:label="@string/local_authority_information_title"/>
        <activity android:name=".battery.BatteryOptimizationActivity"
            android:label="@string/battery_optimization_title"/>
        <activity android:name=".payment.RedirectToIsolationPaymentWebsiteActivity" />
        <activity android:name=".settings.SettingsActivity"
            android:label="@string/settings_title"/>
        <activity android:name=".settings.languages.LanguagesActivity"
            android:label="@string/language_title"/>

        <!-- Receivers -->
        <receiver
            android:name=".exposure.encounter.ExposureNotificationBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK">
            <intent-filter>
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATED" />
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_NOT_FOUND" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ExpirationCheckReceiver" />
        <receiver android:name=".receiver.ExposureNotificationReminderReceiver" />
        <receiver android:name=".receiver.ExposureNotificationRetryReceiver" />
        <receiver android:name=".analytics.AnalyticsAggregatorReceiver" />
        <receiver android:name=".receiver.AlarmRestarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
