<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.nhs.nhsx.covid19.android.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ExposureApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onboarding.MainOnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.postcode.PostCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".onboarding.PermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".status.StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".edgecases.DeviceNotSupportedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.EnableBluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.EnableLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.EnableExposureNotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QrScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QrCodeScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionnaire.selection.QuestionnaireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionnaire.review.NoSymptomsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionnaire.review.ReviewSymptomsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testordering.TestOrderingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".questionnaire.review.SymptomsAdviceIsolateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".state.IsolationExpirationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.DataAndPrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about.MoreAboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testordering.TestResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exposure.encounter.EncounterDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.QrCodeMoreInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about.UserDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testordering.TestOrderingProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".availability.AppAvailabilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.authentication.AuthenticationCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qrcode.riskyvenues.VenueAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".status.RiskLevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".edgecases.TabletNotSupportedActivity"
            android:screenOrientation="portrait" />

        <!-- Receivers -->
        <receiver
            android:name=".exposure.encounter.ExposureNotificationBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK">
            <intent-filter>
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATED" />
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_NOT_FOUND" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ExpirationCheckReceiver" />
        <receiver android:name=".receiver.AlarmRestarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
